@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
}

.Botones {
    display: flex;
    gap: 10px;
}

.Botones button:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

.Botones .btnLogin {
    padding: 15px;
    border: 0;
    background-color: #3a3a3a;
    color: #fff;
    border-radius: 30px;
}

.Botones .btnRegistro {
    padding: 15px;
    border: 0;
    background-color: #3a3a3a;
    color: #fff;
    border-radius: 30px;
}

.fondo {
    background-image: url(images/FondoBar.jpg);
    height: 700px;
}

.titulo {
    text-align: center;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.titulo .contenido-titulo {
    background-color: #3a3a3a;
    color: #fff;
    font-weight: bold;
    font-family: 'Bebas Neue', sans-serif;
    width: 320px;
    border-radius: 60px;
    padding: 5px;
    font-size: 20px;
}

.fondo .fotoBarbero {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    padding-top: 20px;
}

.fondo .fotoBarbero img {
    width: 280px;
    height: 380px;
    border-radius: 36px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.7);
}



.section1 {
    background: linear-gradient(to right, #3a3a3a, #6d6c6c);
    padding: 80px;
    color: #fff;
    text-align: center;
}

.section1 .contenidoSection1 h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 33px;
}

.section1 .contenidoSection1 button {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 36px;
    border: 0;
    width: 180px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.section1 .contenidoSection1 button:hover {
    background-color: #e7630b;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
    font-weight: bold;
}

.section2 {
    background: linear-gradient(to right, #3a3a3a, #6d6c6c);
    padding: 80px;
    color: #fff;
    text-align: center;
}

.section2 .contenidoSection2 h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 33px;
}

.section2 .contenidoSection2 button {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 36px;
    border: 0;
    width: 180px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.section2 .contenidoSection2 button:hover {
    background-color: #e7630b;
    cursor: pointer;
    transition: 0.5s;
    color: #fff;
    font-weight: bold;
}

.section3 {
    background: linear-gradient(to right, #3a3a3a, #6d6c6c);
    padding: 80px;
    color: #fff;
    text-align: center;
}

.section3 .contenidoSection3 h1 {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 33px;
}

.section3 .contenidoSection3 button {
    background-color: #fff;
    color: #000;
    padding: 20px;
    border-radius: 36px;
    border: 0;
    width: 180px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    font-weight: bold;
}

.section3 .contenidoSection3 button:hover {
    background-color: #e7630b;
    transition: 0.5s;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
}